{% extends 'base.html' %}
{% load staticfiles %}
{% block title %} Add Program {% endblock %}

{% block content %}
    <p>Program Name: <input type="text" name="program_name" /></p>
    <p>Program Type: <input type="text" name="program_type" /></p>
    {% csrf_token %}
    <button id="sendprogramdata" > Add! </button>
{% endblock %}

{% block scripts %}
 <script>
/**
 * Created by Dylan Brams on 4/25/2017.
 */
function csrfSafeMethod(method) {
    // these HTTP methods do not require CSRF protection
    return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
}
$("#sendprogramdata").click(function(){
        var mydata = new Object();
        mydata.program_name = $("[name=program_name]").val();
        mydata.program_type = $("[name=program_type]").val();
        var csrftoken = $("[name=csrfmiddlewaretoken]").val();
        $.ajax({
                type: "POST",
                url: "/api/program/",
                contentType: "application/json;",
                data: JSON.stringify(mydata),
                dataType: "json",
                beforeSend: function(xhr, settings) {
                      if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                              xhr.setRequestHeader("X-CSRFToken", csrftoken);
                   }},
            }).error(function(r){ console.log(r) })
            .success(function(r){ console.log("success", r) })
        });
</script>
{% endblock %}