body {
  display: flex;
}

main {
  flex: 1;
}

nav {
  width: 30%;
}

a {
  display: block;
}

div,
p,
h2,
h3,
a {
  border: 1px solid black;
}

.bigimage {
  height: 76px;
}

.newrow {
  border: 1px solid black;
  height: 100px;
}

.fullwidthparagraph {
  width: 100%;
}

.thirdparagraph {
  display: flex;
}

.thirdparagraph p {
  flex: 1;
  padding: 10px;
}
